.header {
  /* background: black no-repeat center
    url("https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/blte86401d468e74845/5e3137f08f7e217daef66f54/Landing_Page_Image_Motion.jpg?format=pjpg&width=540"); */
  background-color: black;
  color: white;
  height: 90vh;
  margin-bottom: 10vh;
  font-family: "Montserrat", sans-serif;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 1px gray;
}
.company-logo {
  width: 25vh;
  height: 10vh;
  margin: 2vh 10vh;
}
.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 2vh 10vh;
  font-size: 15px;
}
.nav-item {
  margin: 3vh;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-text {
  width: 40%;
  margin: 5vh 15vh;
}
.banner-title {
  font-size: 50px;
}
.banner-subtitle {
  font-size: 20px;
}
.banner-image {
  width: 80vh;
  height: 80vh;
  margin: 0px 5vh;
}
.intro-text {
  font-size: 18px;
  margin: 15vh;
}
.section-heading {
  text-align: center;
  color: red;
}
.what-we-do {
  width: 80%;
  margin: 5vh auto;
  display: flex;
  justify-content: space-between;
}
.what-we-do-image {
  width: 30%;
  margin: auto;
}
.what-we-do-image img {
  width: 100%;
  height: 100%;
}
.what-we-do-text {
  margin: 5vh;
}
.what-we-do-heading {
  font-size: 20px;
}
.what-we-do-subheading {
  font-size: 15px;
}
.latest-work-container {
  width: 90%;
  margin: 5vh auto;
  display: flex;
  text-align: center;
}
.latest-work-image {
  width: 50%;
  margin: auto;
}
.latest-work-image img {
  width: 100%;
  height: 100%;
}
.testimonial-container {
  width: 90%;
  margin: 5vh auto;
  display: flex;
  text-align: center;
}
.testimonail-image {
  width: 10%;
  border: 1px solid red;
  border-radius: 50%;
}
.footer-container {
  background-color: black;
  color: white;
}
.footer-heading {
  text-align: center;
  font-size: 30px;
  padding: 10vh;
}
.copyright-container {
  display: flex;
  flex-direction: column;
  margin: 0px 10vh;
  padding-bottom: 10vh;
}
.copyright-links {
  display: flex;
}
.copyright-links p {
  margin-right: 5vh;
}
.copyright-image {
  width: 5%;
}
.copyright-image img {
  width: 100%;
  height: 100%;
}
