.home-container {
  height: 100vh;
  background: no-repeat center
    url("https://image.freepik.com/free-photo/grey-geometrical-shapes-background_23-2148811539.jpg");
  background-size: 200vh;
}
.logo-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20vh;
}
.company {
  text-align: center;
  color: white;
}
.logo-image {
  width: 10vh;
  height: 10vh;
}
@media (max-width: 350px) {
  .logo-container {
    padding: 10vh 0px;
  }
}
@media (max-width: 150px) {
  .company {
    font-size: 8px;
  }
  .logo-image {
    width: 5vh;
    height: 5vh;
  }
}
